<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
</head>
<body>
    <header>
        <h3>Logo</h3>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Home">Home</a>
            </li>
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
